@charset "UTF-8";
/* CSS Document */
body{
	background-color: rgba(124,194,180,1.00);
	width: 100vw;
	height: 100vh;
}

#loginContainer{
	text-align:center;
	color: #FFFFFF;
}

.loginInput {
	display: list-item;
	margin-left: auto;
	margin-right: auto;
	width: 265px;
	line-height: 3em;
}


#logo > img{
	width:150px;
}

#logo {
	padding:10%;

}

.buttonOne{
	width: 270px;
	height: 40px;
	color:white;
}

#logIn{
	background-color: #14937d;
}

#fbLogin{
	background-color: #3a5795;
}
