@charset "UTF-8";
/* CSS Document */
body{
	background-color: rgba(124,194,180,1.00);
	width: 100vw;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

#loginContainer{
	text-align:center;
	color: #FFFFFF;
}

.loginInput {
	display: list-item;
	margin-left: auto;
	margin-right: auto;
	width: 265px;
	line-height: 3em;
}


#logo > img{
	width:150px;
}

#logo {
	padding:10%;

}

.buttonOne{
	width: 270px;
	height: 40px;
	color:white;
}

#logIn{
	background-color: #14937d;
}

#fbLogin{
	background-color: #3a5795;
}

.links{
	color:white;
	padding:20px;

}

/*--------------------SignUP-------------------*/

.signInput {
	display: list-item;
	margin-left: auto;
	margin-right: auto;
	width: 265px;
	line-height: 3em;
	margin-top: 20px;
}

.radButtons {
	margin-bottom: 30px;
}

#form{
	text-align: center;
}

#title{
	text-align: center;
	color: white;
}

#back {
	color: white;
	font-size: 20pt;
}

#signContainer{
	text-align:center;
	color: #FFFFFF;
}

